header {
    height: 400px;
    width: 100vw;
    color: white;
    position: relative;
    font-size: $font-size;
    img {
        position: absolute;
        margin: 50px;
        left: 10%;
        font-weight: 900;
    }
    nav {
        width: 100%;
        position: absolute;
        right: 0px;
        display: flex;
        justify-content: flex-end;
        align-items: baseline;
        margin: 50px 0px;
        a {
            margin: 0px 50px;
            cursor: pointer;
        }
    }
}