header {
    height: 400px;
    width: 100vw;
    color: white;
    position: relative;
    font-size: $font-size;
    #header-image {
        position: absolute;
        top: 0px;
        left: 0px;
    }
    #logo-image {
        position: absolute;
        top: 40px;
        left: 40px;
    }
    nav {
        width: 100%;
        position: absolute;
        right: 0px;
        display: flex;
        justify-content: flex-end;
        align-items: baseline;
        margin: 40px 0px;
        a {
            margin: 0px 50px;
            cursor: pointer;
        }
    }
}