.project-card {
    width: 50%;
    border-radius: 10px;
    background-color: white;
    padding: 3em;
    p {
        @include paragraph();
        width: 100%;
        margin: 10px auto;
    }
}
.item-card {
    width: 95%;
    border:hsl(0, 0%, 48%) solid 2px;
    border-radius: 1rem;
    padding: 4rem;
    margin: 0 auto;
    margin-top: 4rem;
    .item-header, .item-bottom {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: baseline;
    }
    .item-header span {
        color: $primary-color-100;
        font-weight: 700;
    }
    p {
        @include paragraph();
        width: 100%;
        margin: 10px auto;
    }
    aside {
        color: $neutral-color-200;
        span {
            color: black;
            font-size: $font-size + 1rem;
        }
    }
    button {
        @include button1();
    }
}

@media only screen and (max-width: 700px) {
    .item-card {
        width: 100%;
        padding: 2rem;
    }
}