
.selection-modal {
    background-color: white;
    position: absolute;
    left: 25%;
    width: 50%;
    padding: 3rem;
    z-index: 2;
    border-radius: 1rem;
    .pledge-choice {
        border: $neutral-color-200 2px solid;
        padding: 2rem;
        margin: 2rem;
        border-radius: 1rem;
        .pledge-header {
            display: flex;
            justify-content: space-between;
            align-items: baseline;
        }
        aside {
            @include paragraph();
            span {
                font-size: $font-size + 1rem;
                color: $neutral-color-100;
            }
        }
    }
    #exit-btn {
        margin-left: 95%;
        border: none;
        background-color: white;
        color: $neutral-color-200;
        font-weight: 900;
        font-size: $font-size + 1rem;
    }
    .highlight {
        color: $primary-color-100;
    }
    h3 {
        font-size: $font-size * 2;
    }
    label {
        cursor: pointer;
        transition-duration: 300ms;
        span {
            padding: 10px;
        }
        &:hover {
            color: $primary-color-100;
        }
    }
    p {
        @include paragraph();
        width: 100%;
        margin: 10px auto;
    }
    .pledge-input {
        color:$neutral-color-200;
        font-weight: 300;
        width: 100%;
        padding-top: 2rem;
        border-top: $neutral-color-200 solid 1px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        span {
            width: 60%;
        }
        button {
            @include button1();
        }
        input {
            text-align: center;
            border-radius: 9000px;
            padding: 1.2rem 2.2rem; 
            margin: .2rem;
            width: 20%;
            background-color: white;
            color: $primary-color-100;
            border-color: $primary-color-100;
            &::before {
                content: "$";
                width: fit-content;
                height: fit-content;
                color: $neutral-color-200;
                font-weight: 300;
            }
        }
        // for getting rid of arrows
        input::-webkit-outer-spin-button,
        input::-webkit-inner-spin-button {
          -webkit-appearance: none;
          margin: 0;
        }
        input[type=number] {
          -moz-appearance: textfield;
        }
    }
}
.background {
    z-index: 1;
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    opacity: .5;
    background-color: $neutral-color-100;
}