
.stat-card {
    width: 50%;
    margin: 1rem auto;
    border-radius: 1rem;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    table {
        width: 100%;
    }
    progress[value] {
        -webkit-appearance: none;
        appearance: none;
        margin: 0 auto 5%;
        width: 80%;
        background-color: $primary-color-200;
        border-radius: 1000px;
        &::-webkit-progress-bar {
            border-radius: 9000px;
        }
        &::-webkit-progress-value {
            background-color: $primary-color-100;
            border-radius: 9000px;
        }
    }
    tr {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
    }
    td {
        color: $neutral-color-200;
        font-size: $font-size;
        margin: 20px auto;
        span {
            font-size: $font-size + 1rem;
            color: $neutral-color-100;
            display: block;
        }
        &:nth-child(2) {
            border-right: $primary-color-200 1px solid;
            border-left: $primary-color-200 1px solid;
            padding: 0 1rem;
        }
    }
}