
.title-card {
    top: 300px;
    width: 50%;
    padding: 2rem;
    background-color: white;
    border-radius: 10px;
    height: fit-content;
    text-align: center;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    #master-picture {
        position: absolute;
        top: -30px;
    }
    h2, p {
        padding: 1.5rem;
        margin: 1.5rem;
    }
    .btns-container {
        width: 100%;
        padding: .8rem 0;
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
    button {
        border-radius: 1000px;
    }
    button:first-child {
        @include button1();
        width: 50%;
        height: 6rem;
    }
    button:last-child {
        position: relative;
        min-width: min-content;
        width: 50%;
        height: 6rem;
        background-color: $neutral-color-300;
        border: none;
        display: flex;
        justify-content: space-between;
        align-items: center;
        span {
            width: 100%;
        }
        #bookmark-image {
            transition-duration: 300ms;
        }
    }
}

@media only screen and (max-width: 650px) {
    .btns-container {
        flex-direction: column;
        button {
            width: 100% !important;
        }
    }
}
@media only screen and (max-width: 375px) {
    .title-card {
        button:first-child {
            padding: 1.2rem;
        }
        button:last-child {
        }
    }
}