
.title-card {
    top: 300px;
    width: 50%;
    padding: 2em;
    background-color: white;
    border-radius: 10px;
    height: fit-content;
    text-align: center;
    #master-picture {
        position: absolute;
        top: -30px;
        left: 48%;
    }
    h2 {
        padding: 1.5em;
    }
    .btns-container {
        width: 100%;
        padding: .8em 0px;
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
    button {
        border-radius: 1000px;
    }
    button:first-child {
        @include button1();
    }
    button:last-child {
        position: relative;
        width: 150px;
        height: 58px;
        padding-left: 40px;
        background-color: $neutral-color-300;
        border: none;
        #bookmark-image {
            position: absolute;
            left: 0px;
            top: 0px;
            transition-duration: 300ms;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }
}