
//      a. screen width

$mobile-width: 375px;
$desktop-width: 1440px;

//      b. colors

$primary-color-100: hsl(176, 50%, 47%);
$primary-color-200:  hsl(176, 72%, 28%);
$neutral-color-100: hsl(0, 0%, 0%);
$neutral-color-200: hsl(0, 0%, 68%);
$neutral-color-300:hsl(0, 0%, 93%);

//      c. fonts

$font-size: 16px;
