* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*:focus {
  outline: none;
}

header {
  height: 400px;
  width: 100vw;
  color: white;
  position: relative;
  font-size: 16px;
}

header #header-image {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  right: 0px;
}

header #logo-image {
  position: absolute;
  top: 40px;
  left: 40px;
}

header nav {
  width: 100%;
  position: absolute;
  right: 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  margin: 40px 0px;
}

header nav a {
  margin: 0px 50px;
  cursor: pointer;
}

body {
  position: relative;
  background-color: #ededed;
}

main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  position: absolute;
  top: 350px;
}

.title-card {
  top: 300px;
  width: 50%;
  padding: 2em;
  background-color: white;
  border-radius: 10px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  text-align: center;
}

.title-card #master-picture {
  position: absolute;
  top: -30px;
  left: 48%;
}

.title-card h2 {
  padding: 1.5em;
}

.title-card .btns-container {
  width: 100%;
  padding: .8em 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.title-card button {
  border-radius: 1000px;
}

.title-card button:first-child {
  border-radius: 1000px;
  padding: 1.2em 2.2em;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  background-color: #3cb4ac;
  color: white;
  -webkit-transition-duration: 300ms;
          transition-duration: 300ms;
}

.title-card button:first-child:hover {
  background-color: #147b74;
}

.title-card button:last-child {
  position: relative;
  width: 150px;
  height: 58px;
  padding-left: 40px;
  background-color: #ededed;
  border: none;
}

.title-card button:last-child #bookmark-image {
  position: absolute;
  left: 0px;
  top: 0px;
  -webkit-transition-duration: 300ms;
          transition-duration: 300ms;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.stat-card {
  width: 50%;
  margin: 10px auto;
  border-radius: 10px;
  background-color: white;
}

.stat-card table {
  width: 100%;
}

.stat-card progress {
  margin-left: 10%;
  width: 80%;
  background-color: #147b74;
}

.stat-card tr {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.stat-card td {
  color: #7a7a7a;
  font-size: 16px;
}

.stat-card td span {
  font-size: 26px;
  color: black;
  display: block;
}

.project-card {
  width: 50%;
  border-radius: 10px;
  background-color: white;
  padding: 3em;
}

.item-card {
  width: 95%;
  border: #7a7a7a solid 2px;
  border-radius: 10px;
  padding: 10px;
  margin: 10px auto;
}

.item-card .item-header, .item-card .item-bottom {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

.item-card .item-header span {
  color: #3cb4ac;
  font-weight: 700;
}

.item-card p {
  color: #7a7a7a;
  font-weight: 300;
  font-size: 16px;
  width: 100%;
  margin: 10px auto;
}

.item-card aside {
  color: #7a7a7a;
}

.item-card aside span {
  color: black;
  font-size: 26px;
}

.item-card button {
  border-radius: 1000px;
  padding: 1.2em 2.2em;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  background-color: #3cb4ac;
  color: white;
  -webkit-transition-duration: 300ms;
          transition-duration: 300ms;
}

.item-card button:hover {
  background-color: #147b74;
}

.selection-modal {
  background-color: white;
  position: absolute;
  left: 25%;
  top: 50%;
  width: 50%;
  padding: 30px;
  z-index: 2;
  border-radius: 10px;
}

.selection-modal .pledge-choice {
  border: #7a7a7a 2px solid;
  padding: 20px;
  margin: 20px;
  border-radius: 10px;
}

.selection-modal .pledge-choice .pledge-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

.selection-modal .pledge-choice aside {
  color: #7a7a7a;
  font-weight: 300;
  font-size: 16px;
}

.selection-modal .pledge-choice aside span {
  font-size: 26px;
  color: black;
}

.selection-modal #exit-btn {
  margin-left: 95%;
}

.selection-modal .highlight {
  color: #3cb4ac;
}

.selection-modal h3 {
  font-size: 32px;
}

.selection-modal label {
  cursor: pointer;
  -webkit-transition-duration: 300ms;
          transition-duration: 300ms;
}

.selection-modal label span {
  padding: 10px;
}

.selection-modal label:hover {
  color: #3cb4ac;
}

.selection-modal p {
  color: #7a7a7a;
  font-weight: 300;
  font-size: 16px;
  width: 100%;
  margin: 10px auto;
}

.selection-modal .pledge-input {
  color: #7a7a7a;
  font-weight: 300;
  width: 100%;
  padding-top: 20px;
  border-top: #7a7a7a solid 1px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.selection-modal .pledge-input span {
  width: 60%;
}

.selection-modal .pledge-input button {
  border-radius: 1000px;
  padding: 1.2em 2.2em;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  background-color: #3cb4ac;
  color: white;
  -webkit-transition-duration: 300ms;
          transition-duration: 300ms;
}

.selection-modal .pledge-input button:hover {
  background-color: #147b74;
}

.selection-modal .pledge-input input {
  text-align: center;
  border-radius: 9000px;
  padding: 1.2em 2.2em;
  margin: .2em;
  width: 20%;
  background-color: white;
  color: #3cb4ac;
  border-color: #3cb4ac;
}

.selection-modal .pledge-input input::before {
  content: "$";
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  color: #7a7a7a;
  font-weight: 300;
}

.selection-modal .pledge-input input::-webkit-outer-spin-button,
.selection-modal .pledge-input input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.selection-modal .pledge-input input[type=number] {
  -moz-appearance: textfield;
}

.background {
  z-index: 1;
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  opacity: .5;
  background-color: black;
}

.success-modal {
  position: absolute;
  width: 40%;
  left: 30%;
  top: 50%;
  padding: 30px;
  z-index: 2;
  border-radius: 10px;
  background-color: white;
  text-align: center;
}

.success-modal img {
  margin: 0px 0px 30px 0px;
}

.success-modal p {
  color: #7a7a7a;
  font-weight: 300;
  font-size: 16px;
  width: 100%;
  margin: 10px auto;
}

.success-modal button {
  border-radius: 9000px;
  padding: 1.2em 2.2em;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  background-color: white;
  color: #147b74;
  -webkit-transition-duration: 300ms;
          transition-duration: 300ms;
}

.success-modal button:hover {
  background-color: #147b74;
  color: white;
}
/*# sourceMappingURL=App.css.map */