// table of contents 
// 0. default settings
// 1. variables
//      a. screen width
//      b. colors
//      c. fonts
// 2. mixins
// 3. header
// 4. main
//      a. title-card
//      b. stat-card
//      c. item-card
// 5. portals
//      a. selection
//      b. success
// 6. media query

// 0. default settings
@import "./reset";

// 1. variables
@import "./variables";

// 2. mixins
@mixin paragraph {
    color: $neutral-color-200;
    font-weight: 300;
    font-size: $font-size;
    line-height: 23px;
}
@mixin button1 {
    border-radius: 1000px;
    padding: 1.2rem 2.2rem; 
    width: fit-content;
    background-color: $primary-color-100;
    color: white;
    transition-duration: 300ms;
    &:hover {
        background-color: $primary-color-200;
    }
}
@mixin button2 {
    border-radius: 9000px;
    padding: 1.2rem 2.2rem; 
    width: fit-content;
    background-color: white;
    color: $primary-color-200;
    transition-duration: 300ms;
    &:hover {
        background-color: $primary-color-200;
        color: white;
    }
}
// 3. header
@import "./header";

// 4. main
body {
    position: relative;
    background-color: $neutral-color-300;
}  
main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column wrap;
    position: absolute;
    top: 350px;
}
//      a. title-card
@import "./title-card";

//      b. stat-card
@import "./stat-card";

//      c. project-card
@import "./project-card";

// 5. portals
//      a. selection
@import "./selection-modal";

//      b. success
@import "./success-modal";

// 6. media query
@media only screen and (max-width: 700px) {
    .title-card, .stat-card, .project-card,  .selection-modal, .success-modal {
        width: 80%;
    } 
    .selection-modal, .success-modal {
        left: 10%;
    }
}
@media only screen and (max-width: 375px) {
    .title-card, .stat-card, .project-card {
        width: 95%;
        margin: 1rem auto;
    }
    .selection-modal, .success-modal {
        width: fit-content;
        left: 0%;
        padding: 2rem;
    }
    #burger-image {
        display: block;
        position: absolute;
        right: 7rem;
    }
    #desktop-nav {
        visibility: hidden;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-flow: column wrap;
        &[data-visible="true"] {
            visibility: visible;
        }
        a {
            margin: 4rem 5rem 0px 0px;
        }
    }
}