// table of contents 
// 0. default settings
// 1. variables
//      a. screen width
//      b. colors
//      c. fonts
// 2. mixins
// 3. header
// 4. main
//      a. title-card
//      b. stat-card
//      c. item-card
// 5. footer

// 0. default settings
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    &:focus {
        outline: none;
    }
}
// 1. variables
@import "./variables";

// 2. mixins

// 3. header
@import "./header";

// 4. main
main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column wrap;
}
.App {
    position: relative;
    background-color: hsl(0, 0%, 93%);
}  
//      a. title-card
@import "./title-card";

//      b. stat-card
@import "./stat-card";

//      c. project-card
@import "./project-card";

// 5. footer