* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*:focus {
  outline: none;
}

header {
  height: 400px;
  width: 100vw;
  color: white;
  position: relative;
  font-size: 16px;
}

header img {
  position: absolute;
  margin: 50px;
  left: 10%;
  font-weight: 900;
}

header nav {
  width: 100%;
  position: absolute;
  right: 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  margin: 50px 0px;
}

header nav a {
  margin: 0px 50px;
  cursor: pointer;
}

main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
}

.App {
  position: relative;
  background-color: #ededed;
}

.title-card {
  top: 300px;
  width: 50%;
  padding: 2em;
  background-color: white;
  border-radius: 10px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  text-align: center;
}

.title-card .master-picture {
  position: absolute;
  top: 370px;
  left: 47%;
}

.title-card h2 {
  padding: 1.5em;
}

.title-card .btns-container {
  width: 100%;
  padding: .8em 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.title-card button {
  border-radius: 1000px;
}

.title-card button:first-child {
  padding: 1.2em 2.2em;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  background-color: #3cb4ac;
  color: white;
  -webkit-transition-duration: 300ms;
          transition-duration: 300ms;
}

.title-card button:first-child:hover {
  background-color: #147b74;
}

.title-card button:last-child {
  position: relative;
  width: 150px;
  height: 58px;
  padding-left: 40px;
  background-color: #ededed;
  border: none;
}

.title-card button:last-child img {
  position: absolute;
  left: 0px;
  top: 0px;
  -webkit-transition-duration: 300ms;
          transition-duration: 300ms;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.stat-card {
  width: 50%;
  margin: 10px auto;
  border-radius: 10px;
  background-color: white;
}

.stat-card table {
  width: 100%;
}

.stat-card progress {
  margin-left: 10%;
  width: 80%;
  background-color: #147b74;
}

.stat-card tr {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.stat-card td {
  color: #7a7a7a;
  font-size: 16px;
}

.stat-card td span {
  font-size: 26px;
  color: black;
  display: block;
}

.project-card {
  width: 50%;
  border-radius: 10px;
  background-color: white;
  padding: 3em;
}

.item-card {
  width: 95%;
  border: #7a7a7a solid 2px;
  border-radius: 10px;
  padding: 10px;
  margin: 10px auto;
}

.item-card .item-header, .item-card .item-bottom {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

.item-card .item-header span {
  color: #3cb4ac;
  font-weight: 700;
}

.item-card p {
  color: #7a7a7a;
  font-weight: 300;
  width: 100%;
  margin: 10px auto;
}

.item-card aside {
  color: #7a7a7a;
}

.item-card aside span {
  color: black;
  font-size: 26px;
}

.item-card button {
  border-radius: 9000px;
  padding: 1.2em 2.2em;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  background-color: #3cb4ac;
  color: white;
  -webkit-transition-duration: 300ms;
          transition-duration: 300ms;
}

.item-card button:hover {
  background-color: #147b74;
}

.selection-modal {
  background-color: white;
  position: absolute;
  left: 35%;
  top: 50%;
  width: 30%;
  z-index: 2;
}

#background {
  z-index: 1;
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  opacity: .5;
  background-color: black;
}
/*# sourceMappingURL=App.css.map */