// table of contents 
// 0. default settings
// 1. variables
//      a. screen width
//      b. colors
//      c. fonts
// 2. mixins
// 3. header
// 4. main
//      a. title-card
// 5. footer

// 0. default settings
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    &:focus {
        outline: none;
    }
}
// 1. variables
//      a. screen width

$mobile-width: 375px;
$desktop-width: 1440px;

//      b. colors

$primary-color-100: hsl(176, 50%, 47%);
$primary-color-200:  hsl(176, 72%, 28%);
$neitral-color-100: hsl(0, 0%, 0%);
$neitral-color-200: hsl(0, 0%, 48%);

//      c. fonts

$font-size: 16px;

// 2. mixins
// 3. header

header {
    height: 400px;
    width: 100vw;
    color: white;
    position: relative;
    font-size: $font-size;
    .title {
        position: absolute;
        margin: 50px;
        left: 10%;
        font-weight: 900;
    }
    nav {
        width: 100%;
        position: absolute;
        right: 0px;
        display: flex;
        justify-content: flex-end;
        align-items: baseline;
        margin: 50px 0px;
        a {
            margin: 0px 50px;
            cursor: pointer;
        }
    }
}
// 4. main
//      a. title-card
.App {
    position: relative;
}
.title-card {
    position: absolute;
    top: 300px;
    left: 25%;
    background-color: white;
    border-radius: 10px;
    height: fit-content;
    padding: 2em;
    width: 50%;
    text-align: center;
    .master-picture {
        position: absolute;
        top: -30px;
        left: 47%;
    }
    h2 {
        padding: 1.5em;
    }
    .btns-container {
        width: 100%;
        padding: .8em 0px;
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
    button {
        border-radius: 1000px;
    }
    button:first-child {
        padding: 1.2em 2.2em; 
        width: fit-content;
        background-color: $primary-color-100;
        color: white;
    }
    button:last-child {
        position: relative;
        width: 150px;
        height: 60px;
        img {
            position: absolute;
            left: 0px;
            top: 0px;
            transition-duration: 300ms;
        }
        &:hover {
            img {
                left: 90px;
            }
        }
    }
}
// 5. footer